*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    background-color: #F1f5f8;
}
/* section
{
    background-color: #F1f5f8;
    height: 100vh;
} */
.nav-bar
{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 80px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
    background-color: white;
}
ul.nav-links
{
    display: flex;
    list-style: none;
}
ul.nav-links a 
{
    text-decoration: none;
    padding-left: 10px;
    color: black;
    font-size: large;
}
.container
{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   height: 70vh;
}
.cont-items
{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cont-items h2 
{
    background-color: black;
    color: white;
    font-size: xx-large;
    padding: 10px 12px;
    border-radius: 10px;
}
.btn
{
    width: 200px;
    margin-top: 10px;
    font-size: x-large;
    border-radius: 10px;
    padding: 5px 8px;
    transition: ease .5s all;
}
.btn:hover
{
    cursor: pointer;
    background-color: black;
    color: white;
}